h1 {					
	text-align: center;				
	font-size: 40px;				
	font-weight: bold;				
	text-decoration: underline;				
	padding: 5%;				
					
					
}					
					
.alphabet-title{					
	font-size: 30px;				
	display: inline-block;				
	padding: 5% 10% 10% 10%;				
	font-weight: bold;									
					
}					
					
.kanas-title{					
	font-size: 30px;				
	display: inline-block;				
	padding: 5% 10% 10% 10%;									
	font-weight: bold;									

}					
					
.kanji-title{					
	font-size: 30px;				
	display: inline-block;				
	padding: 5% 10% 10% 10%;									
	font-weight: bold;									

}					
					
button {					
	color: blue;				
	font-size: 30px;				
	padding: 1%;				
	font-weight: bold;				
	width: 10%;				
	box-sizing: border-box;				
	text-align: center;				
	margin: 0.1% 10%;				
	border: 1px solid black;				
					
					